@model RegisterandLogin.Models.User

@{
    ViewData["Title"] = "Create";
}
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		$('#first_form').submit(function(e) {
			e.preventDefault();
			var first_name = $('#first_name').val();
			var last_name = $('#last_name').val();
			var email = $('#email').val();
			var password = $('#password').val();
			var number = $('#number').val();
			$(".error").remove();
			if (first_name.length < 1) {
				$('#first_name').after('<span class="error">This field is required</span>');
			}
			if (number.length < 1) {
				$('#number').after('<span class="error">This field is required</span>');
			}
			if (number.length != 8) {
				$('#number').after('<span class="error">Phone Number should be of Length 10</span>');
			}
			if (last_name.length < 1) {
				$('#last_name').after('<span class="error">This field is required</span>');
			}
            if (email.length < 1) {
                $('#email').after('<span class="error">This field is required</span>');
            }
			 else {
				var regEx = /^[A-Z0-9][A-Z0-9._%+-]{0,63}@@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/;
				var validEmail = regEx.test(email);
				//if (!validEmail) {
				//	$('#email').after('<span class="error">Enter a valid email</span>');
				//}
			}
			if (password.length < 8) {
				$('#password').after('<span class="error">Password must be at least 8 characters long</span>');
			}
			else {
                var regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$/;
                var validPass = regex.test(password);
                if (!validPass) {
					$('#password').after('<span class="error">Password should have 1 Digit, 1 Uppercase Character, 1 Lowercase Character, 1 Special Symbol and No White Spaces</span>')
				}
			}
    
		});

		$('form[id="second_form"]').validate({
			rules: {
				fname: 'required',
				lname: 'required',
				user_email: {
					required: true,
					email: true,
				},
				psword: {
					required: true,
					minlength: 8,
				}
			},
			messages: {
				fname: 'This field is required',
				lname: 'This field is required',
				user_email: 'Enter a valid email',
				psword: {
					minlength: 'Password must be at least 8 characters long'
				}
			},
			submitHandler: function(form) {
				form.submit();
			}
		});
	});
</script>*@
<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="first_form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" id="first_name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" id="last_name"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" id="email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
				<br />
				<h5>@Html.ValidationMessageFor(m=>m.Email)</h5>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Phone Number(10 digits)</label>
                <input asp-for="Number" class="form-control" id="number"/>
                
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type ="password" asp-for="Password" class="form-control" id="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
